<div class="color_palet_fix">
  <div class="custom_colors">
    <div class="color_palate_triger"><i class="fas fa-cog text_sitec"></i></div>
    <h5>Color Palette</h5>
    <ul class="list-unstyled">
      <li><a href="javascript:void(0);" class="site_sblue_cbx checkcolor" data-val="#4e81ee"></a></li>
      <li><a href="javascript:void(0);" class="site_orange_cbx checkcolor" data-val="#f39c12"></a></li>
      <li><a href="javascript:void(0);" class="site_blue_cbx checkcolor" data-val="#8e44ad"></a></li>
      <li><a href="javascript:void(0);" class="site_red_cbx checkcolor" data-val="#bf1e2e"></a></li>
      <li><a href="javascript:void(0);" class="site_green_cbx checkcolor" data-val="#1abc9c"></a></li>
      <li><a href="javascript:void(0);" class="site_pink_cbx checkcolor" data-val="#f97794"></a></li>
    </ul>
  </div>
</div>