<footer id="footer">
  <div class="element_img hang"><%= image_tag("element_ico4.png", alt: "") %></div>
  <div class="footer_form">
    <div class="let_talk">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12 order-12 order-lg-1">
            <div class="talk_form">
              <h5 class="text_sitec">Say Hello!</h5>
              <form>
                <div class="form-group">
                  <label for="exampleInputname1">Your Name</label>
                  <div class="frm_inpuf"> <span class="in_border"></span>
                    <input type="text" class="form-control" id="exampleInputname1">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputemail">Your Email</label>
                  <div class="frm_inpuf"> <span class="in_border"></span>
                    <input type="email" class="form-control" id="exampleInputemail">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputnumber">Phone Number</label>
                  <div class="frm_inpuf"> <span class="in_border"></span>
                    <input type="text" class="form-control" id="exampleInputnumber">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputcountry">Country</label>
                  <div class="frm_inpuf"> <span class="in_border"></span>
                    <select class="form-control" id="exampleInputcountry">
                      <option selected> Country</option>
                      <option>India</option>
                      <option>Australia</option>
                      <option>Nepal</option>
                      <option>China</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputbudget"> Budget</label>
                  <div class="frm_inpuf"> <span class="in_border"></span>
                    <select class="form-control" id="exampleInputbudget">
                      <option selected> Budget</option>
                      <option>10000 - 20000</option>
                      <option>20000 - 30000</option>
                      <option>30000 - 40000</option>
                      <option>40000 - 50000</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputmesg">Message</label>
                  <div class="frm_inpuf"> <span class="in_border"></span>
                    <textarea class="form-control" id="exampleInputmesg">
                    </textarea>
                  </div>
                </div>
                <input type="submit" value="Submit" class="a_btn btn-block">
              </form>
            </div>
          </div>
          <div class="col-lg-1 d-none d-lg-block"></div>
          <div class="col-lg-7 col-12 order-1 order-lg-12">
            <h3>CONTACT US</h3>
            <h2 class="mheading">Let's Talk To Discover Possiblities</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="foot_social bg_sitec">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block"></div>
          <div class="col-lg-7 col-12">
            <ul class="list-inline text-center ">
              <li class="list-inline-item wow fadeInRight">
                <h6><i class="fas fa-envelope"></i> EMAIL</h6>
                <a href="mailto:shri@Shriffle.com">shri@Shriffle.com</a> </li>
              <li class="list-inline-item wow fadeInRight">
                <h6><span><%= image_tag("hangout_ico.png", alt: "hangout") %></span> HANGOUTS</h6>
                <a href="javascript:void(0);">shri@Shriffle.com</a> </li>
              <li class="list-inline-item wow fadeInRight">
                <h6><i class="fab fa-skype"></i> Skype</h6>
                <a href="javascript:void(0);">Shriffle.com</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_footer">
    <div class="element_img hang d-block d-md-none"><%= image_tag("element_ico4.png", alt: "") %></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-8 col-12 order-12 order-md-1">
          <div class="mn_footbx mn_footbx1">
            <h5>OUR BLOG</h5>
            <ul class="list-unstyled">
              <li><a href="javascript:void(0);">How Emerging Technologies are changing 
                Product Support & Maintenance</a></li>
              <li><a href="javascript:void(0);">Infographic: Evolution of Bot Technology</a></li>
              <li><a href="javascript:void(0);">How DevOps is Driving Business Growth</a></li>
              <li><a href="javascript:void(0);">Kentico 12 Service Pack: Features and Release</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-1 d-none d-md-block"></div>
        <div class="col-md-3 col-sm-4 col-12 order-2 orer-md-11">
          <div class="mn_footbx mn_footbx2">
            <h5>QUICK LINKS</h5>
            <ul class="list-unstyled">
              <li><a href="javascript:void(0);">About</a></li>
              <li><a href="javascript:void(0);">Partner with us</a></li>
              <li><a href="javascript:void(0);">Services</a></li>
              <li><a href="javascript:void(0);">Portfolio</a></li>
              <li><a href="javascript:void(0);">Technologies</a></li>
              <li><a href="javascript:void(0);">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-12 order-1 order-md-12 mb-3 mb-md-0">
          <div class="mn_footbx mn_footbx3">
            <h5>CONNECT WITH ME</h5>
            <ul class="list-unstyled">
              <li><a href="tel:+1-315-381-4100 "><i class="fab fa-whatsapp"></i> +1-315-381-4100 </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>